body{
	margin: 0;
	padding: 0;
}

header{
	height: 540px;
	position: relative;
	/* background: linear-gradient(135deg, rgba(0,0,0,1.0), rgba(255,255,255,0.1)), url(https://a0.muscache.com/im/pictures/35b38dd0-5cec-4e9a-995d-7a0f9adcc372.jpg?im_q=highq&im_w=2560);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	filter: brightness(150%); */
}
.top-img{
	width: 100%;
	height: 540px;
	object-fit: cover;
}
.logo{
	position: absolute;
	top: 24px;
	left: 24px;
}
.top-text-wrapper{
	color: white;
	padding: 36px;
	position: absolute;
	top: 10%;
	left: 0;
}
.top-text-2{
	max-width: 780px;
}
.top-text-wrapper h1{
	font-size: 60px;
	line-height: 60px;
	margin:0 0;
}
.top-text-3{
	max-width: 592px;
}
.top-text-wrapper p{
	font-size: 20px;
	line-height: 24px;
}
.top-button-a{
	width: 140px;
	height:58px;
	background-color: #E31C5F;
	color: white;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-weight: bold;
}
.charm-container{
	padding:36px;
}
.charm-title{
	width: 400px;
	font-size: 46px;
	font-weight: bold;
	margin-bottom: 1em;
	line-height: 48px;
}
.charm-content-wrapper{
	display: flex;
	flex-direction: row;
}
.charm-content-sizeadjust{
	max-width: 310px;
	margin-right: 10%;
}
.charm-content{
	width: 50%;
}
.charm-content2{
	display: flex;
	justify-content: flex-end;
}
.charm-container a{
	color:black;
	font-size: 14px;
	font-weight: bold;
}
.reputation-wrapper{
	padding: 40px;
}
.reputation-card{
	height: 430px;
	background-color:#f8f8f8;
	border-radius: 15px;
	display: flex;
}
.reputation-card-img{
	width: 60%;
}
.reputation-card-img img{
	object-fit: cover;
	text-align: center;
	border-radius: 15px 0 0 15px;
}
.reputation-card-text{
	width: 50%;
	text-align:center;
	line-height: 40px;
	padding: 0 4.2%;
}
.reputation-card-text h1{
	font-size: 36px;
	line-height: 36px;
}
.reputation-card-text p{
	font-size: 16px;
	line-height: 20px;
}
.becomehost-wrapper{
	height: 460px;
	margin: 40px;
	padding:0 30px;
	border-radius: 15px;
	background: linear-gradient(120deg, rgba(0,0,0,1.0),rgba(0,0,0,0.6),rgba(0,0,0,0.0),rgba(0,0,0,0.0), rgba(255,255,255,0.0)), url(https://a0.muscache.com/im/pictures/b2aa56df-5e9f-45a9-bb36-2b8a5b6640af.jpg?im_q=highq&im_w=1680);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
}
.becomehost-text{
	color: white;
}
.becomehost-input{
	margin: 30px 0;
}
.becomehost-input h2{
	line-height: 0px;
}
.becomehost-input select,input{
	font-size: 24px;
	font-weight: bold;
	color: white;
	background-color: rgba(0,0,0,0);
	border-right:none;
	border-left:none;
	border-top:none;
	border-bottom:2px solid #fff;
}
.becomehost-input select,input:focus{
	border-right:none;
	border-left:none;
	border-top:none;
	border-bottom:2px solid #fff;
}
.becomehost-input option{
	color: black;
}
.becomehost-text span{
	color: #ff385c;
}
.becomehost-button{
	display: flex;
	align-items: center;
}
.becomehost-button-text{
	margin-left: 50px;
	text-decoration: underline;
	color: white;
	font-size: 14px;
	font-weight: bold;
}
.beforbegin{
	padding: 40px;
}
.beforbegin h1{
	font-size: 42px;
	line-height: 48px;
	margin: 0;
}
.beforbegin-contents-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
}
.beforbegin-contents-wrapper li{
	width: 322px;
	height: 326px;
	/* margin-left: -430px; */
}
/* .beforbegin-content{
	height: 326px;
	margin:0 5%;
} */
.beforbegin-content-img{
	width: 322px;
	height: 200px;
	margin-right: 30px;
}
.beforbegin-content-img img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.beforbegin-content-text{
	width: 322px;
}
.beforbegin-content-text h3{
	font-size: 18px;
}
.beforbegin-content-text p{
	margin-top: -15px;
	font-size: 14px;
}
.aboutsupport{
	padding: 40px;
	height: 510px;
	margin-bottom: 64px;
}
.aboutsupport-contents-wrapper{
	display: flex;
}
.aboutsupport-content{
	width: 33%;
}
.aboutsupport-content-text{
	width: 70%;
}
.aboutsupport h1{
	font-size: 46px;
}
.aboutsupport a{
	font-size: 14px;
	color: black;
	font-weight: bold;
}
.letsbegin{
	height: 550px;
	background: linear-gradient(120deg, rgba(0,0,0,1.0),rgba(0,0,0,0.5),rgba(0,0,0,0.0), rgba(0,0,0,0.0)), url(https://a0.muscache.com/im/pictures/9d2dc3e5-fc2d-420d-a524-133be70529a3.jpg?im_q=highq&im_w=1680);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: white;
}
.letsbegin-text{
	max-width: 400px;
	padding: 140px 24px 0 40px;
}
.letsbegin-text h1{
	font-size: 42px;
	line-height: 42px;
	margin-bottom: 0px;
}
.letsbegin-button{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 160px;
	height: 56px;
	margin-top: 25px;
	border-radius: 15px;
	background-image: radial-gradient(circle at center,#FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100%);
	font-size: 18px;
	font-weight: bold;
	color: white;
	text-decoration: none;
}
.contacttocomunity{
	height: 500px;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 64px;
	padding-right: 30px;
	padding-left: 40px;
	max-width: 1760px;
	display: flex;
	box-sizing: border-box;
}
.contacttocomunity h1{
	margin:0;
	font-size: 46px;
	line-height: 46px;
}
.contacttocomunity-wrapper-left{
	box-sizing: border-box;
	width: 50%;
}
.contacttocomunity-wrapper-left-content{
	max-width: 480px;
}
.contacttocomunity-wrapper-left-content h1{
	margin-bottom: 30px;
	margin-right: 16px;
}
.contacttocomunity-wrapper-right{
	width: 50%;
	box-sizing: border-box;
	max-width: 520px;
}
.contacttocomunity-wrapper-right-content{
	padding-right: 80px;
}
.contacttocomunity-wrapper-right p{
	margin: 0;
	font-size: 12px;
}
.contacttocomunity-input{
	border:1px solid #aaa;
	border-radius: 8px;
}
.contacttocomunity-input input{
	height: 53px;
	width: 100%;
	box-sizing: border-box;
	margin:0;
	border:none;
	color: black;
	font-weight: normal;
	font-size: 18px;
}
.contacttocomunity-input input[name="address"]{
	border-bottom: 1px solid #aaa;
}
.contacttocomunity-wrapper-right input[type="submit"]{
	height: 50px;
	width: 114px;
	background-color: black;
	border-radius: 10px;
	font-size: 16px;
}
.contacttocomunity-checkbox{
	margin: 30px 0;
	display: flex;
}
.contacttocomunity-checkbox input{
	width: 24px;
	height: 24px;
	margin: 0;
	padding: 0;
}
.contacttocomunity-wrapper-right-content input[type="submit"]{
	margin-bottom: 30px;
}
.contacttocomunity-wrapper-right-content a{
	color: black;
	font-weight: bold;
}
.contacttocomunity-checkbox p{
	margin-left: 12px;
}
footer{
	border-top: 1px solid #ddd;
	padding: 0 40px;
}
footer a{
	text-decoration: none;
	color: black;
}
footer a:hover{
	text-decoration: underline;
}
.footer-text-contents-wrapper{
	margin-top: 40px;
	border-bottom: 1px solid #ddd;
}
.footer-text-contents-wrapper h5{
	font-size: 12px;
	margin: 0;
}
.footer-text-contents{
	display: flex;
}
.footer-text-content{
	width: 33%;
	font-size: 14px;
	margin-right:20px;
}
.footer-bottom-contents-wrapper{
	padding: 20px 0;
	border-bottom: 1px solid #ddd;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer-bottom-contents-wrapper a{
	text-decoration: none;
	color: black;
	font-size: 14px;
}
.footer-bottom-contents-wrapper p{
	margin: 0;
}
.footer-bottom-icons{
	display: flex;
	margin-bottom: 15px;
}
.footer-bottom-icon{
	display: flex;
	margin: 0 8px;
}
.footer-bottom-icons a{
	text-decoration: underline;
}
.footer-bottom-icons a:hover{
	text-decoration: underline;
	color: #555;
}
.footer-bottom-icon-textset{
	display: flex;
	margin-right: 30px;
}
.footer-bottom-icon-onlyicon{
	display: flex;
}
.footer-bottom-icon span{
	margin-right: 8px;
}


@media screen and (max-width: 599px){
	header{
		height: 650px;
	}
	.top-img{
		height: 650px;
	}
	.logo{
		display: none;
	}
	.top-text-wrapper{
		margin-top: 220px;
	}
	.top-text-1 h3{
		font-size: 12px;
	}
	.top-text-2{
		padding-right: 56px;
	}
	.top-text-wrapper h1{
		font-size: 32px;
		line-height: 32px;
		margin:0;
	}
	.top-text-wrapper p{
		font-size: 16px;
		line-height: 24px;
	}
	.top-button-a{
		width: 140px;
		height:58px;
		background-color: #E31C5F;
		color: white;
		border-radius: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		font-weight: bold;
	}
	.charm-container{
		padding:36px;
	}
	.charm-title{
		width: 400px;
		font-size: 32px;
		font-weight: bold;
		margin-bottom: 1em;
		line-height: 48px;
	}
	.charm-content-wrapper{
		display: flex;
		flex-direction: row;
	}
	.charm-content-sizeadjust{
		max-width: 310px;
		margin-right: 10%;
	}
	.charm-content{
		width: 50%;
	}
	.charm-content2{
		display: flex;
		justify-content: flex-end;
	}
	.charm-container a{
		color:black;
		font-size: 14px;
		font-weight: bold;
	}
	.reputation-wrapper{
		padding: 40px;
	}
	.reputation-card{
		width: 100%;
		height: 430px;
		background-color:#f8f8f8;
		border-radius: 15px;
		display: flex;
		flex-direction: column;
	}
	.reputation-card-img{
		width: 100%;
	}
	.reputation-card-img img{
		width: 100%;
	}
	.reputation-card-text{
		width: 100%;
		line-height: 40px;
		padding: 0 4.2%;
	}
	.reputation-card-text h1{
		font-size: 17px;
		line-height: 17px;
	}
	.reputation-card-text p{
		font-size: 14px;
		line-height: 20px;
	}
	.becomehost-wrapper{
		height: 540px;
		margin: 0;
		padding: 100px 0 30px 30px;
		border-radius: 0px;
		background: linear-gradient(120deg, rgba(0,0,0,1.0),rgba(0,0,0,0.6),rgba(0,0,0,0.0),rgba(0,0,0,0.0), rgba(255,255,255,0.0)), url(https://a0.muscache.com/im/pictures/b2aa56df-5e9f-45a9-bb36-2b8a5b6640af.jpg?im_q=highq&im_w=1680);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		display: flex;
	}
	.becomehost-text{
		color: white;
	}
	.becomehost-input{
		margin: 30px 0;
	}
	.becomehost-input h2{
		line-height: 0px;
	}
	.becomehost-input select,input{
		font-size: 24px;
		font-weight: bold;
		color: white;
		background-color: rgba(0,0,0,0);
		border-right:none;
		border-left:none;
		border-top:none;
		border-bottom:2px solid #fff;
	}
	.becomehost-input select,input:focus{
		border-right:none;
		border-left:none;
		border-top:none;
		border-bottom:2px solid #fff;
	}
	.becomehost-input option{
		color: black;
	}
	.becomehost-text span{
		color: #ff385c;
	}
	.becomehost-button{
		display: flex;
		flex-direction: column;
		align-items: start;
	}
	.becomehost-button-text{
		margin-top: 30px;
		margin-left: 0px;
		text-decoration: underline;
		color: white;
		font-size: 14px;
		font-weight: bold;
	}
	.beforbegin{
		padding: 40px;
	}
	.beforbegin h1{
		font-size: 26px;
		line-height: 48px;
		margin: 0;
	}
	.beforbegin-contents-wrapper{
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 50px;
	}
	.beforbegin-contents-wrapper li{
		width: 322px;
		height: 326px;
		/* margin-left: -430px; */
	}
	/* .beforbegin-content{
		height: 326px;
		margin:0 5%;
	} */
	.beforbegin-content-img{
		width: 322px;
		height: 200px;
		margin-right: 30px;
	}
	.beforbegin-content-img img{
		object-fit: cover;
		width: 100%;
		height: 100%;
		border-radius: 10px;
	}
	.beforbegin-content-text{
		width: 322px;
	}
	.beforbegin-content-text h3{
		font-size: 18px;
	}
	.beforbegin-content-text p{
		margin-top: -15px;
		font-size: 14px;
	}
	.aboutsupport{
		padding: 40px;
		height: 750px;
		margin-bottom: 64px;
	}
	.aboutsupport-contents-wrapper{
		display: flex;
		flex-direction: column;
	}
	.aboutsupport-content{
		width: 100%;
	}
	.aboutsupport-content-text{
		width: 100%;
	}
	.aboutsupport h1{
		font-size: 26px;
	}
	.aboutsupport a{
		font-size: 14px;
		color: black;
		font-weight: bold;
	}
	.letsbegin{
		height: 350px;
		background: linear-gradient(120deg, rgba(0,0,0,1.0),rgba(0,0,0,0.5),rgba(0,0,0,0.0), rgba(0,0,0,0.0)), url(https://a0.muscache.com/im/pictures/9d2dc3e5-fc2d-420d-a524-133be70529a3.jpg?im_q=highq&im_w=1680);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		color: white;
	}
	.letsbegin-text{
		max-width: 400px;
		padding: 80px 24px 0 40px;
	}
	.letsbegin-text h1{
		font-size: 26px;
		line-height: 26px;
		margin-bottom: 0px;
	}
	.letsbegin-button{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100px;
		height: 30px;
		margin-top: 25px;
		border-radius: 8px;
		background-image: radial-gradient(circle at center,#FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100%);
		font-size: 14px;
		font-weight: bold;
		color: white;
		text-decoration: none;
	}
	.contacttocomunity{
		height: 700px;
		width: 100%;
		padding-top: 80px;
		padding-bottom: 64px;
		padding-right: 0px;
		padding-left: 20px;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}
	.contacttocomunity h1{
		margin:0;
		font-size: 34px;
		line-height: 34px;
	}
	.contacttocomunity-wrapper-left{
		box-sizing: border-box;
		width: 100%;
	}
	.contacttocomunity-wrapper-left-content{
		max-width: 480px;
	}
	.contacttocomunity-wrapper-left-content h1{
		margin-bottom: 30px;
		margin-right: 16px;
	}
	.contacttocomunity-wrapper-right{
		width: 100%;
		box-sizing: border-box;
		max-width: 520px;
	}
	.contacttocomunity-wrapper-right-content{
		padding-right: 20px;
	}
	.contacttocomunity-wrapper-right p{
		margin: 0;
		font-size: 12px;
	}
	
	.contacttocomunity-input input{
		height: 53px;
		width: 100%;
		box-sizing: border-box;
		margin:0;
		border:none;
		color: black;
		font-weight: normal;
		font-size: 18px;
	}
	.contacttocomunity-input input[name="address"]{
		border-bottom: 1px solid #aaa;
	}
	.contacttocomunity-wrapper-right input[type="submit"]{
		height: 50px;
		width: 114px;
		background-color: black;
		border-radius: 10px;
		font-size: 16px;
	}
	.contacttocomunity-checkbox{
		margin: 30px 0;
		display: flex;
	}
	.contacttocomunity-checkbox input{
		width: 24px;
		height: 24px;
		margin: 0;
		padding: 0;
	}
	.contacttocomunity-wrapper-right-content input[type="submit"]{
		margin-bottom: 30px;
	}
	.contacttocomunity-wrapper-right-content a{
		color: black;
		font-weight: bold;
	}
	.contacttocomunity-checkbox p{
		margin-left: 12px;
	}
	footer{
		padding: 0 20px;
	}
	.footer-text-contents-wrapper{
		margin-top: 20px;
	}
	.footer-text-contents-wrapper h5{
		font-size: 12px;
		margin: 0;
	}
	.footer-text-contents{
		display: flex;
		flex-direction: column;

	}
	.footer-text-content{
		width: 100%;
		font-size: 14px;
		margin-right:20px;
		margin-bottom: -10px;
	}
	.footer-bottom-contents-wrapper{
		padding: 20px 0;
		border-bottom: 1px solid #ddd;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.footer-bottom-contents-wrapper a{
		text-decoration: none;
		color: black;
		font-size: 14px;
	}
	.footer-bottom-contents-wrapper p{
		margin: 0;
	}
	.footer-bottom-icons{
		display: flex;
		margin-bottom: 15px;
	}
	.footer-bottom-icon{
		display: flex;
		margin: 0 8px;
	}
	.footer-bottom-icons a{
		text-decoration: underline;
	}
	.footer-bottom-icons a:hover{
		text-decoration: underline;
		color: #555;
	}
	.footer-bottom-icon-textset{
		display: flex;
		margin-right: 30px;
	}
	.footer-bottom-icon-onlyicon{
		display: flex;
	}
	.footer-bottom-icon span{
		margin-right: 8px;
	}
}